VITE_APP_BASE_URL=
VITE_APP_USERNAME=
VITE_APP_PASSWORD=

VITE_REVERB_APP_KEY=
VITE_REVERB_SCHEME=
VITE_REVERB_HOST=
VITE_REVERB_AUTH_URL=
VITE_REVERB_PORT=

VITE_PUSHER_APP_KEY=
VITE_PUSHER_HOST=
VITE_PUSHER_PORT=
VITE_PUSHER_SCHEME=
VITE_PUSHER_APP_CLUSTER=

VITE_DEV_SERVER_HOST=
VITE_DEV_SERVER_HTTPS=